{% extends 'ChanchitoBundle::layout.html.twig' %}
{% block content %}
<h1>Registro de asistencia</h1>

<form action="{{ path('ChanchitoBundle_registro') }}" method='post' {{ form_enctype(form) }}>

    <div>
        <br>{{ form_label(form) }} 
        <br>{{ form_errors(form) }}
        <br>{{ form_widget(form) }}
    </div>
        <input type="submit" value="Registrar"/>
</form>

{% endblock %}