{% extends 'ChanchitoBundle::layout.html.twig' %}
{% block content %}
<h1>Registro de asistencia</h1>

<form action="{{ path('ChanchitoBundle_registro') }}" method='post' {{ form_enctype(form) }}>

    {{ form_errors(form) }}

    <p>
        <input type="checkbox" name="tieneMotivo"  onclick="javascript:display()" /> Tiene Motivo<br />
    </p>
    
    <div id="motivo" style="display:none">
        
    {{ form_errors(form.registroUsuario) }}
    <p>
        {{ form_label(form.registroUsuario) }}
        {{ form_widget(form.registroUsuario) }}
    </p>
    
    {{ form_errors(form.motivo) }}
    <p>
        {{ form_label(form.motivo) }}
        {{ form_widget(form.motivo) }}
    </p>
    
    </div>
  
    {{ form_errors(form._token) }}
    {{ form_widget(form._token) }}
        <input type="submit" value="Registrar Asistencia"/>
</form>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
function display()
{
    var elm = document.getElementById('motivo');
    
    if (elm.style.display == "none"){
        elm.style.display = "";}
    else{
        elm.style.display = "none";}
}
</script>
{% endblock %}