{% extends 'ChanchitoBundle::layout.html.twig' %}

{% block title %}Listado de Registro de Asistencias{% endblock %}

{% block pageid 'user' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Fecha Asistencia</th>
            <th>Participante</th>
            <th>Hora Sistema</th>    
            <th>Hora Usuario</th>    
            <th>Motivo Diferencia Hora</th>
            <th>Monto a Pagar</th>
        </tr>
        </thead>
        <tbody>
        {% for asistencia in listadoAsistencia  %}
        <tr>

            <td>{{ asistencia.fechaAsistencia | date('d/m/Y') }}</td>
            <td>{{ asistencia.usuarios.obtenerNombreCompleto  }}</td>
            <td>{{ asistencia.registroReal | date('h:i:s') }}</td>
            <td>{{ asistencia.registroUsuario | date('h:i:s') }}</td>
            <td>{{ asistencia.motivo }}</td>
            <td>{{ asistencia.obtenerMontoAsistencia() }}</td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
